@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 620px) 
   {
  	#cocktailContainer{

	}
	.cocktailRecipeContainer{
		width: 1200px;
		margin: auto;
		margin-top: 20px;
	}
	.cocktailPhoto{
		width: 630px;
		height: 800px;
		margin: auto;
	}
	.cocktailImage{
		width: 630px;
		height: 800px;
		border-radius: 8px;
	}
	.summary{
		width: 1200px;
		text-align: justify;
		margin: auto;
	}
	.coctailTitle{
		font-size: 55px;
	    margin: 5px 0 0 5px;
	}
	.cocktailSummary{
		font-size: 50px;
		margin: 5px 0 0 5px;
	}
	.ingredients{
		width: 1200px;
	    margin: auto;
	}
	.drinkAmount{
		font-size: 55px;
	    width: 1200px;
	    margin-left: 5px;
	    margin-top: 5px;
	    margin-bottom: 5px;
	    text-align: center;
	}
	.ingredient{
		width: 1200px;
	    margin-top: 20px;
	}
	.ingredientTitle{
		font-size: 55px;
	    margin: 5px;
	    text-decoration: underline;
	}
	.eachIngredient{
		font-size: 50px;
		margin: 5px;
	}
	.directions{
		width: 1200px;
		margin: auto;
	}
	.directionsTitle{
		font-size: 55px;
		margin: 5px;
	}
	.directionsSummary{
		font-size: 50px;
		margin: 5px;
	}

  }

@media only screen 
  and (min-device-width: 621px) 
  and (max-device-width: 921px) 
   {
  	#cocktailContainer{

	}
	.cocktailRecipeContainer{
		width: 1200px;
		height: 620px;
		margin: auto;
		margin-top: 20px;
	}
	.cocktailPhoto{
		width: 300px;
		height: 400px;
		float: left;
	}
	.cocktailImage{
		width: 300px;
		height: 400px;
		float: left;
		border-radius: 8px;
	}
	.summary{
		width: 900px;
		float: right;
		text-align: justify;
	}
	.coctailTitle{
		font-size: 25px;
	    margin: 5px 0 0 5px;
	}
	.cocktailSummary{
		font-size: 20px;
		margin: 5px 0 0 5px;
	}
	.ingredients{
		width: 900px;
	    display: inline-flex;
	    margin-top: -5px;
	}
	.drinkAmount{
		font-size: 25px;
	    float: right;
	    width: 895px;
	    margin-left: 5px;
	    margin-top: 5px;
	    margin-bottom: 5px;
	}
	.ingredient{
		width: 180px;
		margin-left: 10px;
	}
	.ingredientTitle{
		font-size: 25px;
	    margin: 5px;
	    text-decoration: underline;
	}
	.eachIngredient{
		font-size: 20px;
		margin: 5px;
	}
	.directions{
		width: 900px;
		float: right;
		text-align: justify;
	}
	.directionsTitle{
		font-size: 25px;
		margin: 5px;
	}
	.directionsSummary{
		font-size: 20px;
		margin: 5px;
	}

  }

@media only screen 
  and (min-device-width: 922px)  
   {
  	#cocktailContainer{

	}
	.cocktailRecipeContainer{
		width: 1200px;
		height: 400px;
		margin: auto;
		margin-top: 20px;
	}
	.cocktailPhoto{
		width: 300px;
		height: 400px;
		float: left;
	}
	.cocktailImage{
		width: 300px;
		height: 400px;
		float: left;
		border-radius: 8px;
	}
	.summary{
		width: 900px;
		float: right;
		text-align: justify;
	}
	.coctailTitle{
		font-size: 20px;
	    margin: 5px 0 0 5px;
	}
	.cocktailSummary{
		font-size: 15px;
		margin: 5px 0 0 5px;
	}
	.ingredients{
		width: 900px;
	    display: inline-flex;
	    margin-top: -5px;
	}
	.drinkAmount{
		font-size: 20px;
	    float: right;
	    width: 895px;
	    margin-left: 5px;
	    margin-top: 5px;
	    margin-bottom: 5px;
	}
	.ingredient{
		width: 180px;
		margin-left: 10px;
	}
	.ingredientTitle{
		font-size: 17px;
	    margin: 5px;
	    text-decoration: underline;
	}
	.eachIngredient{
		font-size: 15px;
		margin: 5px;
	}
	.directions{
		width: 900px;
		float: right;
		text-align: justify;
	}
	.directionsTitle{
		font-size: 20px;
		margin: 5px;
	}
	.directionsSummary{
		font-size: 15px;
		margin: 5px;
	}

  }

