@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 620px) 
   {
  #familyContainer{

	}
	.familyRecipeContainer{
		width: 1360px;
		margin: auto;
		margin-top: 20px;
	}
	.familyRecipeContainer2{
		width: 1360px;
		margin: auto;
		margin-top: 70px;
	}
	.familyPhoto{
		width: 800px;
	    height: 725px;
	    margin: auto;
	}
	.familyImage{
		width: 800px;
	    height: 725px;
	    float: left;
	    border-radius: 8px;
	}
	.serveAmount{
		font-size: 55px;
	    width: 1400px;
	    margin-left: 5px;
	    margin-top: 5px;
	    text-align: center;
	    margin-bottom: 5px;
	}
	.familySummary{
		width: 1200px;
	    text-align: justify;
	    margin: auto;
	}
	.familyTitle{
		font-size: 55px;
	    margin: 5px 0 0 5px;
	}
	.familyRecipeSummary{
		font-size: 50px;
		margin: 5px 0 0 5px;
	}

	.familyIngredients{
		width: 1200px;
	    margin: auto;
	}
	.familyIngredients2{
		width: 1200px;
	    margin: auto;
	}
	.familyIngredient{
		width: 1200px;
	    margin-top: 20px;
	}
	.familyIngredientTitle{
		font-size: 55px;
	    margin: 5px;
	    text-decoration: underline;
	}
	.familyEachIngredient{
		font-size: 50px;
		margin: 5px;
	}
	.ovenTemp{
		margin: 5px;
	    text-align: center;
	    text-decoration: underline;
	    font-size: 50px;
	}
	.familyDirections{
		width: 1200px;
		margin: auto;
		border-bottom: 1px solid #ccc;
	}
	.familyDirection{
		text-align: justify;
		margin-top: 20px;
	}
	.familyDirectionTitle{
		font-size: 55px;
		margin: 5px;
	}
	.familyDirectionSummary{
		font-size: 50px;
		margin: 5px;
	}

  }

@media only screen 
  and (min-device-width: 621px) 
  and (max-device-width: 921px) 
   {
  #familyContainer{

	}
	.familyRecipeContainer{
		width: 1360px;
		margin: auto;
		margin-top: 20px;
	}
	.familyRecipeContainer2{
		width: 1360px;
		margin: auto;
		margin-top: 70px;
	}
	.familyPhoto{
		width: 400px;
		height: 325px;
		float: left;
	}
	.familyImage{
		width: 400px;
		height: 325px;
		float: left;
		border-radius: 8px;
	}
	.serveAmount{
		font-size: 25px;
	    float: right;
	    width: 947px;
	    margin-left: 5px;
	    margin-top: 5px;
	    margin-bottom: 5px;
	}
	.familySummary{
		width: 950px;
		float: right;
		text-align: justify;
	}
	.familyTitle{
		font-size: 25px;
	    margin: 5px 0 0 5px;
	}
	.familyRecipeSummary{
		font-size: 20px;
		margin: 5px 0 0 5px;
	}

	.familyIngredients{
		width: 951px;
	    display: inline-flex;
	    margin-top: -5px;
	}
	.familyIngredients2{
		width: 951px;
	    display: inline-flex;
	    margin-top: -5px;
	}
	.familyIngredient{
		width: 200px;
		margin-left: 10px;
	}
	.familyIngredientTitle{
		font-size: 25px;
	    margin: 5px;
	    text-decoration: underline;
	}
	.familyEachIngredient{
		font-size: 20px;
		margin: 5px;
	}
	.ovenTemp{
		margin: 5px;
	    text-align: center;
	    text-decoration: underline;
	    font-size: 20px;
	}
	.familyDirections{
		width: 1000px;
		margin: auto;
		border-bottom: 1px solid #ccc;
	}
	.familyDirection{
		text-align: justify;
	}
	.familyDirectionTitle{
		font-size: 25px;
		margin: 5px;
	}
	.familyDirectionSummary{
		font-size: 20px;
		margin: 5px;
	}

  }

@media only screen 
  and (min-device-width: 922px)  
   {
  	#familyContainer{

	}
	.familyRecipeContainer{
		width: 1360px;
		height: 740px;
		margin: auto;
		margin-top: 20px;
	}
	.familyRecipeContainer2{
		width: 1360px;
		height: 919px;
		margin: auto;
		margin-top: 70px;
	}
	.familyPhoto{
		width: 400px;
		height: 325px;
		float: left;
	}
	.familyImage{
		width: 400px;
		height: 325px;
		float: left;
		border-radius: 8px;
	}
	.serveAmount{
		font-size: 20px;
	    float: right;
	    width: 947px;
	    margin-left: 5px;
	    margin-top: 5px;
	    margin-bottom: 5px;
	}
	.familySummary{
		width: 950px;
		float: right;
		text-align: justify;
	}
	.familyTitle{
		font-size: 20px;
	    margin: 5px 0 0 5px;
	}
	.familyRecipeSummary{
		font-size: 15px;
		margin: 5px 0 0 5px;
	}

	.familyIngredients{
		width: 951px;
		height: 230px;
	    display: inline-flex;
	    margin-top: -5px;
	}
	.familyIngredients2{
		width: 951px;
		height: 250px;
	    display: inline-flex;
	    margin-top: -5px;
	}
	.familyIngredient{
		width: 200px;
		margin-left: 10px;
	}
	.familyIngredientTitle{
		font-size: 17px;
	    margin: 5px;
	    text-decoration: underline;
	}
	.familyEachIngredient{
		font-size: 15px;
		margin: 5px;
	}
	.ovenTemp{
		margin: 5px;
	    text-align: center;
	    text-decoration: underline;
	    font-size: 18px;
	}
	.familyDirections{
		width: 1000px;
		margin: auto;
		border-bottom: 1px solid #ccc;
	}
	.familyDirection{
		text-align: justify;
	}
	.familyDirectionTitle{
		font-size: 20px;
		margin: 5px;
	}
	.familyDirectionSummary{
		font-size: 15px;
		margin: 5px;
	}

  }

