body{
	background-color: #EAEAEA;
}
.app{
	min-width: 1600px;
	max-width: 1600px;
	margin:auto;
	background-color: white;
}
a{
	text-decoration: none;
	color: black;
}
.header{
	width: 100%;
	min-width: 1200px;
    height: 100px;
    border-bottom: 1px solid #3b3b3b;
}
.logo_so{
	width: 250px;
    height: 100px;
    float: left;
}
#icon_container{
	display: flex;
    font-size: 40px;
    margin-top: 25px;
    float: right;
}
.social_icons{
	margin-right:20px;
	color: #1d1d1d; 
	cursor: pointer;
}
.social_icons:hover{
	color: #626262;
}
.navButtons{
	display: inline-flex;
    font-size: 25px;
    font-family: Arial, sans-serif;
    margin: 0 0 0 100px;
    text-transform: uppercase;
}
.nav{
	margin: auto;
	font-family: Arial, sans-serif;	
	padding: 0 30px;
	height: 100px;
	line-height: 100px;
	cursor: pointer;
	transition: 0;
}
.nav:hover{
	background-color: #757575;
	height: 100px;
	transition: 2s;
}
.footer{
	width: 100%;
	min-width: 1200px;
    height: 100px;
    border-top: 1px solid #3b3b3b;
}
#icon_container_bottom{
	display: flex;
    font-size: 40px;
    margin-top: 25px;
    float: left;
}
.social_icons_bottom{
	margin-left:20px;
	color: #1d1d1d; 
	cursor: pointer;
}
.social_icons_bottom:hover{
	color: #626262;
}
