.header{
	width: 100%;
	height: 185px;
	background-color: #3b3b3b;
}
.logo_so{
	width: 900px;
	height: 200px;
	float: left;
	margin-top: -15px;
}

#icon_container{
	display: flex;
	font-size: 40px;
	margin-top: 20px;
	float: right;

}

.social_icons{
	margin-right:20px; 
}

.navButtons{
	display: inline-flex;
	width: 100%;
	font-size: 25px;
	height: 30px;
	background-color:#3b3b3b; 
	font-family: Arial, sans-serif;	
}
.nav{
	margin: auto;
	font-family: Arial, sans-serif;	
	padding: 0 10px;
}
.nav:hover{
	background-color: #ccc;
}
