#recipeContainer{
	
}
.recipePhotoContainer{
	width: 1320px;
	height: 900px;
	margin: auto;
}
.recipe{
	width: 400px;
    height: 400px;
    display: inline-flex;
    flex-wrap: wrap;
    margin: 20px;
}
.recipe:hover .recipeCoverphotos{
	opacity: 0.3;
	transition: 0.5s;
}
.recipeGroup{
	opacity: 0;
	margin-top: -65px;
	font-size: 50px;
	text-align: center;
	font-family: 'BT Futura W01', Arial, sans-serif;
}
.recipeCoverphotos{
	width: 400px;
	height: 400px;
	box-shadow: 10px 5px 5px #ccc;
}
.recipe:hover .recipeGroup{
	opacity: 1;
	color: black;
	transition: 0.5s;
}

