@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 620px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .bookContainer{
        width: 1400px;
        margin: auto;
        margin-top: 30px;
    }
    .cookBook1{
        width: 1230px;
        margin: auto;
        height: 1260px;
        border: 2px solid #ccc;
        border-radius: 20px;
        text-align: center;
        background-color: #F6E5C5;
    }
    .cookBook2{
        width: 1230px;
        height: 1580px;
        margin: auto;
        margin-top: 40px;
        border: 2px solid #ccc;
        border-radius: 20px;
        text-align: center;
        background-color: #F6E5C5;
    }
    .bookPhoto1{
        width: 800px;
        height: 930px;
        margin-top: -5px;
    }
    .bookPhoto2{
        width: 800px;
        height: 930px;
        margin-top: -5px;
    }
    .pre1{
        font-size: 90px;
        margin: 10px 0 10px 0;
        font-family: 'BT Futura W01', Arial, sans-serif;
    }
    .title1{
        font-size: 78px;
        margin: 20px 0 0 0;
        font-family: 'BT Futura W01', Arial, sans-serif;
    }

    .price1{
        font-size: 40px;
        margin: 5px;
        font-family: 'BT Futura W01', Arial, sans-serif;
    }
    .shipping{
        margin-top: -8px;
        font-size: 40px;
    }

    .pastaLessons{
        width: 1300px;
        height: 800px;
        border: 5px solid #ccc;
        margin: auto;
        border-radius: 15px;
        margin-top: 30px;
        background-image: url(../images/pastaBackground.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: -598px -425px;
    }
    .pastaTitle{
        float: left;
        font-size: 65px;
        border-bottom: 2px solid #ccc;
        width: 700px;
        height: 144px;
        text-transform: uppercase;
        text-align: center;
        font-family: 'BT Futura W01', Arial, sans-serif;
        margin: 0px 0 0px 0;
        color: white;
        background-color: rgba(0, 0, 0, 0.4);
    }
    .pastaDescription{
        float: left;
        font-size: 51px;
        width: 696px;
        height: 362px;
        text-align: justify;
        font-family: 'BT Futura W01', Arial, sans-serif;
        color: white;
        margin-top: -3px;
        background-color: rgba(0, 0, 0, 0.4);
    }
    .pastaPayContainer{
        width: 700px;
        height: 214px;
        float: left;
        margin-top: 31px;
    }
    .pastaAmount{
        width: 280px;
        height: 210px;
        border: 1px solid #ccc;
        float: left;
        font-size: 91px;
        text-align: center;
        color: white;
        font-family: 'BT Futura W01', Arial, sans-serif;
        background-color: rgba(0, 0, 0, 0.4);
    }
    .pastah3Amount{
        margin: 18px;
    }
    .pastaPay{
        width: 417px;
        height: 210px;
        border: 1px solid #ccc;
        font-size: 55px;
        text-align: center;
        float: right;
        border-right: none;
        color: white;
        font-family: 'BT Futura W01', Arial, sans-serif;
        background-color: rgba(0, 0, 0, 0.4);
    }
    .aPastaPay{
        color: white;
    }
    .pPay{
        margin-top: 0;
    }
    .pastaLessonPhoto{
        width: 600px;
        height: 800px;
        border-radius: 0 10px 10px 0;
    }
    .pastaButton{
        margin-top: 25px;
    }
    .sellingContainer{
        width: 1000px;
        margin: auto;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .selling{
        width: 1000px;
    }
    .description{
        margin-top: 0;
        text-align: center;
        padding: 1px;
    }
    .mHat{
        width: 1000px;
        height: 1200px;
        border: 3px solid #ccc;
        border-radius: 8px;
        margin-right: 118px;
        background-color: #F6E5C5;
    }
    .mens{
        width: 1000px;
        height: 1000px;
        transform: rotate(90deg);
        border-radius: 5px 0 0 5px;

    }
    .mHatDescription{
        width: 1000px;
        height: 100px;
        color: black;
        font-size: 40px;

    }
    .mHatPayContainer{
        width: 1000px;
        height: 100px;
    }
    .mHatAmount{
        width: 500px;
        height: 100px;
        border: 1px solid #ccc;
        float: left;
        font-size: 52px;
        text-align: center;
        color: black;
        font-family: 'BT Futura W01', Arial, sans-serif;
        margin-top: -5px;
    }
    .mHath3Amount{
        margin-top: 14px;
    }
    .mHatPay{
        width: 496px;
        height: 100px;
        border: 1px solid #ccc;
        font-size: 15px;
        text-align: center;
        float: right;
        color: black;
        font-family: 'BT Futura W01', Arial, sans-serif;
        margin-top: -5px;
        line-height: 4;
    }
    .mHatButton{
        width: 360px;
        margin-top: 6px;
    }
    .wHat{
        width: 1000px;
        height: 1200px;
        border: 3px solid #ccc;
        border-radius: 8px;
        margin-right: 118px;
        background-color: #F6E5C5;
        margin-top: 40px;
    }
    .womens{
        width: 1000px;
        height: 1000px;
        border-radius: 5px 0 0 5px;
        -webkit-transform: rotate(90deg);
    }
    .wHatDescription{
        width: 1000px;
        height: 100px;
        color: black;
        font-size: 40px;
    }
    .wHatPayContainer{
        width: 1000px;
        height: 100px;
    }
    .wHatAmount{
        width: 500px;
        height: 100px;
        border: 1px solid #ccc;
        float: left;
        font-size: 52px;
        text-align: center;
        color: black;
        font-family: 'BT Futura W01', Arial, sans-serif;
        margin-top: -5px;
    }
    .wHath3Amount{
        margin-top: 14px;
    }
    .wHatPay{
        width: 496px;
        height: 100px;
        border: 1px solid #ccc;
        font-size: 15px;
        text-align: center;
        float: right;
        color: black;
        font-family: 'BT Futura W01', Arial, sans-serif;
        margin-top: -5px;
        line-height: 4;
    }
    .wHatButton{
        width: 360px;
        margin-top: 6px;
    }

}
@media only screen 
  and (min-device-width: 621px) 
  and (max-device-width: 921px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .bookContainer{
        width: 1000px;
        margin: auto;
        height: 410px;
        margin-top: 30px;
    }
    .cookBook1{
        width: 450px;
        height: 490px;
        float: left;
        border: 2px solid #ccc;
        border-radius: 20px;
        text-align: center;
        background-color: #F6E5C5;
    }
    .cookBook2{
        width: 450px;
        height: 490px;
        float: right;
        border: 2px solid #ccc;
        border-radius: 20px;
        text-align: center;
        background-color: #F6E5C5;
    }
    .bookPhoto1{
        width: 290px;
        height: 360px;
        margin-top: -5px;
    }
    .bookPhoto2{
        width: 200px;
        height: 240px;
        margin-top: -5px;
    }
    .pre1{
        font-size: 32px;
        margin: 10px 0 10px 0;
        font-family: 'BT Futura W01', Arial, sans-serif;
    }
    .title1{
        font-size: 29px;
        margin: -5px 0 0 0;
        font-family: 'BT Futura W01', Arial, sans-serif;
    }

    .price1{
        font-size: 40px;
        margin: 5px;
        font-family: 'BT Futura W01', Arial, sans-serif;
    }
    .shipping{
        margin-top: -8px;
        font-size: 24px;
    }
    .bookButton{
        width: 180px;
        margin-top: -18px;
    }
    .pastaLessons{
        width: 1000px;
        height: 500px;
        border: 5px solid #ccc;
        margin: auto;
        border-radius: 15px;
        margin-top: 110px;
        background-image: url("../images/pastaBackground.png");
        background-image: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 100%), url("../images/pastaBackground.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: -400px -321px

    }
    .pastaTitle{
        float: left;
        font-size: 30px;
        border-bottom: 2px solid #ccc;
        width: 600px;
        height: 35px;
        text-transform: uppercase;
        text-align: center;
        font-family: 'BT Futura W01', Arial, sans-serif;
        margin: 5px 0 0px 0;
        color: white;
    }
    .pastaDescription{
        float: left;
        font-size: 24px;
        width: 540px;
        height: 309px;
        text-align: justify;
        font-family: 'BT Futura W01', Arial, sans-serif;
        margin-left: 30px;
        color: white;
    }
    .pastaPayContainer{
        width: 600px;
        height: 102px;
        float: left;
    }
    .pastaAmount{
        width: 296px;
        height: 100px;
        border: 1px solid #ccc;
        float: left;
        font-size: 50px;
        text-align: center;
        color: white;
        font-family: 'BT Futura W01', Arial, sans-serif;
        background-color: rgba(0, 0, 0, 0.4);
    }
    .pastah3Amount{
        margin: 18px;
    }
    .pastaPay{
        width: 301px;
        height: 100px;
        border: 1px solid #ccc;
        font-size: 30px;
        text-align: center;
        float: right;
        border-right: none;
        color: white;
        font-family: 'BT Futura W01', Arial, sans-serif;
        background-color: rgba(0, 0, 0, 0.4);
    }
    .aPastaPay{
        color: white;
    }
    .pPay{
        margin-top: 0;
    }
    .pastaLessonPhoto{
        width: 400px;
        border-radius: 0 10px 10px 0;
    }
    .pastaButton{
        margin-top: 25px;
    }
    .sellingContainer{
        width: 1100px;
        margin: auto;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .selling{
        width: 1100px;
        display: inline-flex;
    }
    .description{
        margin-top: 0;
        text-align: center;
        padding: 1px;
    }
    .mHat{
        width: 500px;
        height: 700px;
        border: 3px solid #ccc;
        border-radius: 8px;
        margin-right: 118px;
        background-color: #F6E5C5;
    }
    .mens{
        width: 500px;
        height: 500px;
        transform: rotate(90deg);
        border-radius: 5px 0 0 5px;

    }
    .mHatDescription{
        width: 500px;
        height: 69px;
        color: black;
        font-size: 25px;

    }
    .mHatPayContainer{
        width: 500px;
        height: 100px;
        margin-top: 30px;
    }
    .mHatAmount{
        width: 240px;
        height: 100px;
        border: 1px solid #ccc;
        float: left;
        font-size: 44px;
        text-align: center;
        color: black;
        font-family: 'BT Futura W01', Arial, sans-serif;
        margin-top: -7px;
    }
    .mHath3Amount{
        margin-top: 20px;
    }
    .mHatPay{
        width: 256px;
        height: 100px;
        border: 1px solid #ccc;
        font-size: 15px;
        text-align: center;
        float: right;
        color: black;
        font-family: 'BT Futura W01', Arial, sans-serif;
        margin-top: -5px;
        line-height: 4;
    }
    .mHatButton{
        width: 215px;
        margin-top: 20px;
    }
    .wHat{
        width: 500px;
        height: 700px;
        border: 3px solid #ccc;
        border-radius: 8px;
        margin-right: 118px;
        background-color: #F6E5C5;
    }
    .womens{
        width: 500px;
        height: 500px;
        -webkit-transform: rotate(90deg);
        border-radius: 5px 0 0 5px;
    }
    .wHatDescription{
        width: 500px;
        height: 69px;
        color: black;
        font-size: 25px;
    }
    .wHatPayContainer{
        width: 500px;
        height: 100px;
        margin-top: 30px;
    }
    .wHatAmount{
        width: 240px;
        height: 100px;
        border: 1px solid #ccc;
        float: left;
        font-size: 44px;
        text-align: center;
        color: black;
        font-family: 'BT Futura W01', Arial, sans-serif;
        margin-top: -7px;
    }
    .wHath3Amount{
        margin-top: 20px;
    }
    .wHatPay{
        width: 256px;
        height: 100px;
        border: 1px solid #ccc;
        font-size: 15px;
        text-align: center;
        float: right;
        color: black;
        font-family: 'BT Futura W01', Arial, sans-serif;
        margin-top: -5px;
        line-height: 4;
    }
    .wHatButton{
        width: 215px;
        margin-top: 20px;
    }
  }
  @media only screen 
  and (min-device-width: 922px)  
  and (-webkit-min-device-pixel-ratio: 2) {
        .bookContainer{
    width: 1000px;
    margin: auto;
    height: 410px;
    margin-top: 30px;
    }
    .cookBook1{
        width: 396px;
        height: 406px;
        float: left;
        border: 2px solid #ccc;
        border-radius: 20px;
        text-align: center;
        background-color: #F6E5C5;
    }
    .cookBook2{
        width: 396px;
        height: 406px;
        float: right;
        border: 2px solid #ccc;
        border-radius: 20px;
        text-align: center;
        background-color: #F6E5C5;
    }
    .bookPhoto1{
        width: 220px;
        height: 275px;
        margin-top: -5px;
    }
    .bookPhoto2{
        width: 200px;
        height: 240px;
        margin-top: -5px;
    }
    .pre1{
        font-size: 25px;
        margin: 10px 0 10px 0;
        font-family: 'BT Futura W01', Arial, sans-serif;
    }
    .title1{
        font-size: 20px;
        margin: -5px 0 0 0;
        font-family: 'BT Futura W01', Arial, sans-serif;
    }

    .price1{
        font-size: 25px;
        margin: 5px;
        font-family: 'BT Futura W01', Arial, sans-serif;
    }
    .shipping{
        margin-top: -8px;
        font-size: 9px;
    }
    .bookButton{
        width: 117px;
        margin-top: -4px;
    }
    .pastaLessons{
        width: 1000px;
        height: 500px;
        border: 5px solid #ccc;
        margin: auto;
        border-radius: 15px;
        margin-top: 30px;
        background-image: url("../images/pastaBackground.png");
        background-image: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 100%), url("../images/pastaBackground.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: -400px -321px

    }
    .pastaTitle{
        float: left;
        font-size: 30px;
        border-bottom: 2px solid #ccc;
        width: 600px;
        height: 35px;
        text-transform: uppercase;
        text-align: center;
        font-family: 'BT Futura W01', Arial, sans-serif;
        margin: 5px 0 0px 0;
        color: white;
    }
    .pastaDescription{
        float: left;
        font-size: 24px;
        width: 540px;
        height: 309px;
        text-align: justify;
        font-family: 'BT Futura W01', Arial, sans-serif;
        margin-left: 30px;
        color: white;
    }
    .pastaPayContainer{
        width: 600px;
        height: 102px;
        float: left;
    }
    .pastaAmount{
        width: 296px;
        height: 100px;
        border: 1px solid #ccc;
        float: left;
        font-size: 50px;
        text-align: center;
        color: white;
        font-family: 'BT Futura W01', Arial, sans-serif;
        background-color: rgba(0, 0, 0, 0.4);
    }
    .pastah3Amount{
        margin: 18px;
    }
    .pastaPay{
        width: 301px;
        height: 100px;
        border: 1px solid #ccc;
        font-size: 30px;
        text-align: center;
        float: right;
        border-right: none;
        color: white;
        font-family: 'BT Futura W01', Arial, sans-serif;
        background-color: rgba(0, 0, 0, 0.4);
    }
    .aPastaPay{
        color: white;
    }
    .pPay{
        margin-top: 0;
    }
    .pastaLessonPhoto{
        width: 400px;
        border-radius: 0 10px 10px 0;
    }
    .pastaButton{
        margin-top: 25px;
    }
    .sellingContainer{
        width: 631px;
        margin: auto;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .selling{
        width: 631px;
        display: inline-flex;
    }
    .description{
        margin-top: 0;
        text-align: center;
        padding: 1px;
    }
    .mHat{
        width: 250px;
        height: 350px;
        border: 3px solid #ccc;
        border-radius: 8px;
        margin-right: 118px;
        background-color: #F6E5C5;
    }
    .mens{
        width: 250px;
        height: 250px;
        transform: rotate(90deg);
        border-radius: 5px 0 0 5px;

    }
    .mHatDescription{
        width: 250px;
        height: 50px;
        color: black;
        font-size: 13px;

    }
    .mHatPayContainer{
        width: 250;
        height: 50px;
    }
    .mHatAmount{
        width: 125px;
        height: 50px;
        border: 1px solid #ccc;
        float: left;
        font-size: 15px;
        text-align: center;
        color: black;
        font-family: 'BT Futura W01', Arial, sans-serif;
        margin-top: -5px;
    }
    .mHath3Amount{

    }
    .mHatPay{
        width: 121px;
        height: 50px;
        border: 1px solid #ccc;
        font-size: 15px;
        text-align: center;
        float: right;
        color: black;
        font-family: 'BT Futura W01', Arial, sans-serif;
        margin-top: -5px;
        line-height: 4;
    }
    .mHatButton{
        width: 100px;
    }
    .wHat{
        width: 250px;
        height: 350px;
        border: 3px solid #ccc;
        border-radius: 8px;
        margin-right: 118px;
        background-color: #F6E5C5;
    }
    .womens{
        width: 250px;
        height: 250px;
        -webkit-transform: rotate(90deg);
        border-radius: 5px 0 0 5px;
    }
    .wHatDescription{
        width: 250px;
        height: 50px;
        color: black;
        font-size: 13px;
    }
    .wHatPayContainer{
        width: 250;
        height: 50px;
    }
    .wHatAmount{
        width: 125px;
        height: 50px;
        border: 1px solid #ccc;
        float: left;
        font-size: 15px;
        text-align: center;
        color: black;
        font-family: 'BT Futura W01', Arial, sans-serif;
        margin-top: -5px;
    }
    .wHath3Amount{

    }
    .wHatPay{
        width: 121px;
        height: 50px;
        border: 1px solid #ccc;
        font-size: 15px;
        text-align: center;
        float: right;
        color: black;
        font-family: 'BT Futura W01', Arial, sans-serif;
        margin-top: -5px;
        line-height: 4;
    }
    .wHatButton{
        width: 100px;
    }
  }


